[submodule "external/llvm-project"]
	path = external/llvm-project
	url = git@github.com:albertsh10/llvm-project.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
