[submodule "external/llvm-project"]
	path = external/llvm-project
	url = git@github.com:codes1gn/llvm-project.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "external/pymlir"]
	path = external/pymlir
	url = git@github.com:spcl/pymlir.git
    ignore = dirty
