numpy>=1.16.6
ninja==1.9.0
setuptools>=44.1.1
astunparse==1.6.3

sphinx
sphinx-autobuild
sphinx_rtd_theme
recommonmark
sphinx_markdown_tables


# comment cmake, this may align with sw stack
# cmake>=3.15.2
